.drop-menu-dates {
  position: absolute;
  min-width: 200%;
  height: 1000%;
  top: 110%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.4);
  cursor: default;
  z-index: 5;
}

.drop-menu-dates > .title-menu {
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}

.drop-menu-dates > ul {
  height: 85%;
  overflow-y: scroll;
}