.list {
  display: flex;
  justify-content: center;
  height: 60%;
  width: 100%;
}

.list-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.content {
  border-collapse: collapse;
  table-layout: auto;
  width: max-content;
}

.content > thead > tr {
  background-color: #ededed;
  border: 1px solid #ddd;
}

.content > tbody > tr:nth-child(even) {
  background-color: #f3f3f3;
}

.content > :is(thead, tbody) > tr > :where(th, td) > input {
  border: none;
  width: 100%;
  transition: 0.35s ease-in;
}

.content > :is(thead, tbody) > tr > :where(th, td) > input:focus {
  outline: none !important;
  background-color: #489aff;
  color: #fff;
  transition: 0.35s ease;
}

.content > :is(thead, tbody) > tr > :where(th, td) > p {
  text-align: center;
  padding: 10px 20px;
  font-size: 0.8rem;
}

.content > :is(thead, tbody) > tr > :where(th, td) > input {
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
}

.content > thead > tr > th {
  position: relative;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.content > thead > tr > th > :where(p, input) {
  margin-right: 10px;
}

.content > thead > tr > th > .filter-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  right: 5px;
  top: 0;
}

.content > thead > tr > th > .filter-list > svg:first-child {
  transform: translateY(35%);
}

.content > thead > tr > th > .filter-list > svg:last-child {
  transform: translateY(-35%);
}

.content > tbody > tr {
  cursor: pointer;
  transition: all 0.35s ease-in;
}

.content > tbody > .selected-row {
  background-color: #489aff !important;
  color: #fff;
  transition: all 0.35s ease-out;
}

.content > tbody > tr:hover {
  background-color: #489aff;
  color: #fff;
  transition: all 0.35s ease;
}

.content > tbody > tr > td {
  text-align: left;
  white-space: nowrap;
}