.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  height: 12%;
  padding: 20px 25px;
}

.footer > .total-container {
  display: flex;
}

.footer > .total-container > .title {
  display: flex;
  align-items: center;
}

.footer > .total-container > .total-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.footer > .total-container > .total-box > p {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2.5px 5px;
  font-size: 0.9rem;
  color: #333;
  font-weight: 600;
}

.footer > .payments {
  position: relative;
  display: flex;
  padding: 5px 10px;
  cursor: pointer;
}

.footer > .payments::before,
.footer > .payments::after {
  position: absolute;
  content: '';
  height: 50%;
  width: 25%;
  transition: all 0.35s ease;
  opacity: 0;
}

.footer > .payments::before {
  right: 0;
  top: 0;
  border-top: 2px solid #6c99dd;
  border-right: 2px solid #0747A6;
  transform: translate(-100%, 50%);
}

.footer > .payments::after {
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #6c99dd;
  border-left: 2px solid #0747A6;
  transform: translate(100%, -50%);
}

.footer > .payments:hover:before,
.footer > .payments:hover:after {
  transform: translate(0,0);
  opacity: 1;
}

.footer > .payments > p {
  display: flex;
  align-items: center;
  margin-left: 5px;
}